@font-face {
    font-family: 'a_FuturaOrto';
    src: url('fonts/subset-AFuturaOrto.woff2') format('woff2'),
        url('fonts/subset-AFuturaOrto.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

